.css-fblp2m{
  background-color:whitesmoke;
}
footer {
  background-color: #d3d3d3;
  text-align: center;
  color: #d3d3d3 !important;
  content: "Fosfor-Refract © 2023" !important;
}
footer a {
  color: #d3d3d3 !important;
}
.css-kmrnrr{
  background-color:red;
}